@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap");
* {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}
nav.navbar ul > .nav-item:not(:first-child),
nav.navbar > div > form {
  display: none;
}
h2 + p {
  font-weight: 300;
}

h2 {
  margin: 20px;
  font-size: 50px;
  font-weight: 300;
}
.container {
  text-align: center;
}
#ex1 div.row {
  color: white;
  height: 400px;
  margin: 20px;
  font-size: 15px;
  margin-bottom: 70px;
}
#ex1 div.row > div:first-of-type {
  display: flex;
  padding: 170px;
  align-items: center;
  justify-content: center;
  background-color: #6bb56b;
  border-top-left-radius: 40px;
  border: 2px solid black;
  border-bottom-left-radius: 40px;
}
#ex1 div.row > div:nth-child(2) {
  display: flex;
  background-color: #299bff;
  border: 2px solid black;
  border-right: none;
  border-left: none;
}
#ex1 div.row > div:nth-child(2) > p {
  text-align: left;
}
#ex1 div.row > div:nth-child(2) > p {
  align-self: flex-end;
  margin: 10px;
}
#ex1 div.row > div:nth-child(3) {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0;
  color: black;
}
#ex1 div.row > div:nth-child(3) > div:first-child {
  background-color: #fff7bd;
  border-top-right-radius: 40px;
  border: 2px solid black;
  border-bottom: none;
  border-left: none;
  flex: 1;
}
#ex1 div.row > div:nth-child(3) > div:nth-child(2) {
  background-color: #ffed69;
  border-right: 2px solid black;
  flex: 1;
}
#ex1 div.row > div:nth-child(3) > div:nth-child(3) {
  background-color: #ffe41f;
  border: 2px solid black;
  border-top: none;
  border-bottom-right-radius: 40px;
  flex: 1;
  border-left: none;
}
#ex1 div.row > div:nth-child(3) > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#ex2 div.row {
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
#ex2 div.card {
  border: 1px solid #adadad;
  border-radius: 5px;
  padding: 0;
}
#ex2 div .card-header {
  border-bottom: 1px solid #adadad;
  background-color: #e9e9e9;
  font-weight: 500;
  font-size: 20px;
}
#ex2 div.col ul {
  list-style-type: none;
  font-size: 15px;
}
#ex2 div.col a.btn {
  width: 100%;
}
#ex2 h5 {
  color: gray;
}
h5 strong {
  color: black;
  font-size: 30px;
}
#ex3 > div {
  padding: 50px 2px;

  background-color: #f5f5f5;
}
#ex3 div.card {
  margin: auto;
  margin-bottom: 30px;
  font-size: 15px;
}
#ex3 p.card-text {
  text-align: left;
}
#ex3 div.card-body > div {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
#ex3 div.card-body .btn-group {
  margin: 0;
  align-self: flex-end;
}
#ex3 .btn-outline-secondary {
  padding: 4px 7px;
  font-size: 13px;
}
#ex4 h2 {
  font-size: 40px;
}
#ex4 h2 > span {
  font-size: 30px;
  font-weight: 400;
}
#ex4 div.row div:nth-child(1) .btn-group {
  width: 40%;
  margin: auto;
}

#ex4 div.row div:nth-child(2) .card-header {
  font-size: 18px;
}
#ex4 div.row div:nth-child(2) .card-body ul {
  list-style-type: none;
  padding: 0 20px;
}
#ex4 div.row .card:nth-child(3) p {
  font-size: 15px;
}
footer {
  padding: 40px;
  margin-top: 40px;
  border-top: 1px solid #adadad;
  text-align: left;
}
#ex5 div.row {
  display: flex;
  justify-content: space-around;
}
#ex5 div.col > h4 {
  text-align: left;
  font-size: 20px;
}
#ex5 ul {
  padding: 0;
  list-style-type: none;
  font-size: 15px;
  color: grey;
}
